@import url("https://fonts.googleapis.com/css?family=Raleway");

html {
  background-color: #f6fbff;
}

h2 {
  font-family: "Raleway";
}

p {
  font-family: "Raleway";
  font-weight: 400;
}

.app {
  background-color: #f6fbff;
}

.logo {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
}

.expires-spacing {
  position: relative;
  top: 7px;

.expiration-time{
  position:relative;
  top:10px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mute-text {
  font-weight: 500;
  font-size: 14px;
}

.navlink {
  color: white;
  text-decoration: none;
  font-family: "Raleway";
}

.navlink:hover {
  color: white;
  text-decoration: none;
}

.home {
  width: 100%;
  background-color: #f6fbff;
}

.link {
  width: 30%;
}

.box {
  padding: 36px;
  width: 100%;
}

.input {
  border-radius: 10px;
  border-color: #d1dbf5;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  height: 70px;
  resize: none;
  outline: none;
}

.dropdown {
  border-radius: 5px;
  border-color: #d1dbf5;
  margin: 0 15px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.mainpage-img {
  width: 90%;
  height: auto;
}

.bottom-right {
  width: 300px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.right {
  position: fixed;
  right: 0;
  bottom: 100px;
  z-index: -1;
}

.left {
  position: fixed;
  left: 0;
  bottom: 100px;
  z-index: -1;
}
