body {
  background-color: #f6fbff;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navlink {
  color: white;
  text-decoration: none;
}

.navlink:hover {
  color: white;
  text-decoration: none;
}

.home {
  background-color: #f6fbff;
}

.box {
  padding: 50px;
  width: 100%;
}

.input {
  border-radius: 20px;
  border-color: #d1dbf5;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  height: 70px;
  resize: none;
}

.dropdown {
  border-radius: 10px;
  border-color: #d1dbf5;
  margin: 0 15px;
  padding: 5px 10px;
}

.white-box {
  background-color: white;
}

.home {
  width: 100%;
}

.mainpage-img {
  width: 90%;
  height: auto;
}
